.ticket-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.select-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  margin: 0.2rem;
}

.select-container * {
  margin: 0.2rem;
  padding: 0.3rem;
}
